/*CSS for Navbar */

.nav-tabs { border-bottom: 2px solid #333333; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; background: #EDECEC;}
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: var(--accent) !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: var(--accent); height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 0px 0; }
.tab-content{padding-left:20px; padding-right:20px}

.card {background: #EDECEC none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; padding: 15px}

/*hover scale and COLOR*/	
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.3);}
.blackiconcolor {color:black;}
.blackiconcolor:hover {color: var(--accent);}

/* #bdcd49 */
