/*Sidenav css settings*/
body{background: #EDECEC; padding:0px}

#wrapper {
	font-family: 'Open Sans', sans-serif;
	color: #333333;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidenav {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: #000;
	overflow-x: hidden;
	transition: 0.5s;
	text-align:center;
}


.sidenav2 {
	height: 100%;
	width: 5%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: #000;
	overflow-x: hidden;
	transition: 0.5s;
	text-align:center;
	padding:0px;
}


.sidenav-brand a {
	list-style: none;
	height: 100%;
	width: 100%;
	text-decoration: none;
	background: none;
	border-style: none;
	padding:0px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}


.hidden {
	display: none;
}

.mainpanel {
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
	overflow-x: hidden;
	transition: 0.5s;
	text-align:left;
	padding:0px;
}